*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popplns', sans-serif;
    text-decoration: none;
    list-style: none;
}


:root{
    --bg-color: #101113;
    --text-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}


body{
    background-color:#101113;
    color: var(--text-color);
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}

.logo{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
}

.logo i{
    color: #ff8800;
    font-size: 32px;
    margin-right: 5px;
}

.navegacao{
    display: flex;
}

.navegacao a{
    color: #fff;
    font-size:var(--other-color);
    font-weight: 500px;
    margin: 0% 30px;
    transition: .55s ease;
}

.navegacao a:hover{
    transform: translate(-5px);
    color: #ff8800; 
    display: flex;
}


.header-icons{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 35px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size: 27px;
    cursor: pointer;
    transition: all .5s;
}

.header-icons i:hover{
    transform: translate(-5px);
    color: #ff8800;
}

.Home{
    position: relative;
    height: 100vh;
    
}